.font {
    font-size: 32px;
}

.center {
    margin: auto;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-10 {
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
}