.font {
    font-size: 32px;
}

.center {
    margin: auto;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.mb {
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
}